<!-- people collage -->
<div class="people-collage">

  {% include_relative people/_person_1.html %}
  {% include_relative people/_person_2.html %}
  {% include_relative people/_person_1.html %}
  {% include_relative people/_person_2.html %}

  {% include_relative people/_person_3.html %}
  {% include_relative people/_person_1.html %}
  {% include_relative people/_person_3.html %}
  {% include_relative people/_person_1.html %}

  {% include_relative people/_person_2.html %}
  {% include_relative people/_person_3.html %}
  {% include_relative people/_person_2.html %}
  {% include_relative people/_person_3.html %}

  {% include_relative people/_person_1.html %}
  {% include_relative people/_person_2.html %}
  {% include_relative people/_person_1.html %}
  {% include_relative people/_person_2.html %}

  {% include_relative people/_person_3.html %}
  {% include_relative people/_person_1.html %}
  {% include_relative people/_person_3.html %}
  {% include_relative people/_person_1.html %}

  {% include_relative people/_person_2.html %}
  {% include_relative people/_person_3.html %}
  {% include_relative people/_person_2.html %}
  {% include_relative people/_person_3.html %}

</div><!-- people collage end -->
