{% for section in include.data %}

  <!-- section -->
  <section class="section{% if forloop.first %} section--first{% endif %}{% if section.type == 'news-title' %} section--news-title{% endif %}{% if section.type == 'news-content' %} section--news-content{% endif %}{% if forloop.last %} section--last{% endif %}">

    {% case section.type %}



      {% comment %} <!-- Intro page --> {% endcomment %}

      {% when "intro-tile" %}
        {% include components/intro/intro-tile.html data=section.value %}

      {% when "intro-group-tile" %}
        {% include components/intro/intro-group-tile.html data=section.value %}



      {% comment %} <!-- Common components --> {% endcomment %}

      {% when "promo-video" %}
        {% include components/common/promo-video.html data=section.value %}

      {% when "video-tile" %}
        {% include components/common/video-tile.html data=section.value %}

      {% when "image-tile" %}
        {% include components/common/image-tile/image-tile.html data=section.value %}

      {% when "image-tile-small" %}
        {% include components/common/image-tile/image-tile-small.html data=section.value %}

      {% when "image-tile-large" %}
        {% include components/common/image-tile/image-tile-large.html data=section.value %}

      {% when "title-tile" %}
        {% include components/common/title-tile.html data=section.value color=include.color %}

      {% when "quote-tile" %}
        {% include components/common/quote-tile.html data=section.value color=include.color %}

      {% when "content-tile" %}
        {% include components/common/content-tile.html data=section.value color=include.color %}



      {% comment %} <!-- Latest and work pages --> {% endcomment %}

      {% when "article-tile" %}
        {% include components/work/article-tile.html data=section.value %}

      {% when "case-study-tile" %}
        {% include components/work/case-study-tile.html data=section.value %}



      {% comment %} <!-- Case study pages --> {% endcomment %}

      {% when "case-study-work-tile" %}
        {% include components/case-studies/case-study-work-tile.html data=section.value %}



      {% comment %} <!-- News page --> {% endcomment %}

      {% when "news-tile" %}
        {% include components/news/news-tile.html data=section.value %}

      {% when "news-title" %}
        {% include components/news/news-title.html data=section.value color=include.color %}

      {% when "news-content" %}
        {% include components/news/news-content.html data=section.value color=include.color %}



      {% comment %} <!-- About page --> {% endcomment %}

      {% when "about-tile" %}
        {% include components/about/about-tile.html data=section.value %}

      {% when "people-collage" %}
        {% include components/about/people-collage.html data=section.value %}

      {% when "about-group-tile" %}
        {% include components/about/about-group-tile.html data=section.value %}

      {% when "about-behaviour-tile" %}
        {% include components/about/about-behaviour-tile.html data=section.value %}

      {% when "about-content-tile" %}
        {% include components/about/about-content-tile.html data=section.value color=include.color %}



      {% comment %} <!-- Contact page --> {% endcomment %}

      {% when "rules-tile" %}
        {% include components/contact/rules-tile.html data=section.value %}

      {% when "contact-tile" %}
        {% include components/contact/contact-tile.html data=section.value %}



      {% comment %} <!-- Careers page --> {% endcomment %}

      {% when "career-intro" %}
        {% include components/careers/career-intro.html data=section.value %}

      {% when "career-detail" %}
        {% include components/careers/career-detail.html data=section.value color=include.color %}



    {% endcase %}

  </section><!-- section end -->

{% endfor %}
