// -------------------------------------
//   Component - Case Study Work
// -------------------------------------
/**
  * @name case-study-work-tile
  * @desc Styles for the case study work component.
**/

$csw_tile_h_max: auto;
$csw_tile_h_max_mob: 80vh;

.case-study-work-tile { 
	@extend .case-study-tile;
	max-height: $csw_tile_h_max;
	@include mobile { max-height: $csw_tile_h_max_mob; }
}

// -------------------------------------
//   Case Study Work - Content
// -------------------------------------
.case-study-work-tile__content {
  @extend .case-study-tile__content;
}
