// -------------------------------------
//   Component - Facebook tile
// -------------------------------------
/**
  * @name facebook-tile
  * @desc Styles for the facebook video group tile component.
**/

$facebook_tile_h_min: 66vw;
$facebook_tile_h_min_mob: 66vw;

.facebook-tile {
  @extend %table;
  min-height: $facebook_tile_h_min;
  @include mobile { min-height: $facebook_tile_h_min_mob; }

  .facebook-tile__content {
   @extend %table--col;
    display: table-cell;
    vertical-align: middle;
    @include section--padding("lg");

    @include mobile {
      @include section--padding-h;
    }

    .facebook-tile__embeds {
      @extend %flex--row;
      @include section--padding-h;

      padding: 0;
      margin: 0 auto;

      @include section--margin-top("md", 0.5);
      margin-left:  -(get-section--margin("sm", 0.5));
      margin-right: -(get-section--margin("sm", 0.5));

      &-item {
        @extend %flex--col;

        padding: 0;
        padding-left: get-section--padding("sm", 0.5);
        padding-right: get-section--padding("sm", 0.5);
        margin: 0 auto;
        @include section--margin-top("sm");

        @include font--style("h5");
        list-style: none;
        text-align: left;
        flex-basis: 50%;
        max-width: 50%;

        .facebook-responsive {
          height: 0;
          overflow: hidden;
          position: relative;
          padding-bottom: 56.25%;

          iframe {
            height: 100%;
            width: 100%;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            border: none;
            overflow: hidden;
          }
        }
      }

      @include tablet-sm {
        margin-left:  -(get-section--margin("lg", 1) - get-section--margin("sm", 1));
        margin-right: -(get-section--margin("lg", 1) - get-section--margin("sm", 1));
      }

      @include mobile {
        margin-left:  0;
        margin-right: 0;
        @include section--margin-top("md");

        padding-left: 0;
        padding-right: 0;

        &-item {
          flex-basis: 100%;
          max-width: 100%;

          padding-left: 0;
          padding-right: 0;
          @include section--margin-top("md");
          &:first-child { margin-top: 0; }
        }
      }
    }
  }
}
