// -------------------------------------
//   Component - Content Tile
// -------------------------------------
/**
  * @name content-tile
  * @desc Styles for the content tile component.
**/

$content_tile_h_min: 66vw;
$content_tile_h_min_mob: 66vw;

.content-tile {
  @extend %table;
  min-height: $content_tile_h_min;
  @include mobile { min-height: $content_tile_h_min_mob; }

  .content-tile__content {
   @extend %table--col;
    display: table-cell;
    vertical-align: middle;
    @include section--padding("lg");

    @include mobile {
      @include section--padding-h;

      &--subline + &--copy {
        @include section--padding-h("md");
      }
    }


    &--copy {
      @include font--style("h2");
      font-family: $font_family_medium;
      /* font-weight: $font_weight_medium; */
    }

    &--subline {
      font-family: $font_family_medium;
      /* font-weight: $font_weight_medium; */
    }

    &--headline,
    &--subline,
    &--copy {
      margin-top: 0;
      margin-bottom: 1em;
      &:last-child { margin-bottom: 0; }

      &[data-align="left"]   { text-align: left;   }
      &[data-align="right"]  { text-align: right;  }
      &[data-align="center"] { text-align: center; }
    }

    .content-tile__list {
      @extend %flex--row;
      @include section--padding-h;

      padding: 0;
      margin: 0 auto;
      max-width: 100%;

      &item {
        @extend %flex--col;

        padding: 0;
        margin: 0 auto;
        @include section--margin-top("sm");

        @include font--style("h5");
        list-style: none;
        text-align: left;
        flex-basis: 50%;
        max-width: 50%;

        & > div {
          @include section--padding-h("sm");
        }
      }

      @include mobile {
        @include section--margin-top("md");

        padding-left: 0;
        padding-right: 0;

        &item {
          flex-basis: 100%;
          max-width: 100%;

          @include section--margin-top("md");
          &:first-child { margin-top: 0; }

          & > div {
            @include section--padding-h("lg");
          }
        }
      }
    }
  }
}

// -------------------------------------
//   Content Tile - Image
// -------------------------------------
.content-tile {
  .content-tile__image {
    &.top {
      @include section--margin-bottom("md");
      margin-top: 0;
    }

    &:not(.top) {
      @include section--margin-top("md");
      margin-bottom: 0;
    }

    img {
      width: 100%;
      max-width: 100%;
      @include mobile { width: auto; }
    }

    &--desktop { display: block; }
    &--mobile  { display: none;  }

    @include mobile {
      &--desktop { display: none;  }
      &--mobile  { display: block; }
    }
  }
}
