// -------------------------------------
//   Component - Title Tile
// -------------------------------------
/**
  * @name title-tile
  * @desc Styles for the title tile component.
**/
$title_tile_h_min: 56vw;
$title_tile_h_min_mob: 50vh;

.title-tile {
  @extend %flex--row;
  height: $title_tile_h_min;
  min-height: $base_html_w_min;

  background-color: black;
  @include mobile { height: $title_tile_h_min_mob; }

  .title-tile__content {
    @include section--padding;

    @extend %flex--col;
    align-self: center;
    text-align: center;
    max-width: 100%;

    > h1 {
      @include font--style("lg");
      @include font--highlight;

      display: inline-block;
      text-align: left;
      color: white;
    }
  }
}
