{% assign tile = include.data[0] %}

<!-- promo video -->
<div class="promo-video">

  <!-- video -->
  <div class="video">

    <!-- video layout - desktop -->
    <img class="video__layout video__layout--desktop" src="/assets/images/layout_1920x1080.png" alt="">

    <!-- video layout - mobile -->
    <img class="video__layout video__layout--mobile" src="/assets/images/layout_800x820.png" alt="">
    
    {% if tile.video.value.url %}
      <!-- video cover - desktop -->
      {% if tile.image.value.views.desktop.url %}
      <video class="video__cover video__cover--desktop" poster="/assets/images/layout_1920x900.png" style="background-image: url('{{ tile.image.value.views.desktop.url }}');" data-src="{{ tile.video.value.url }}" muted loop autoplay playsinline></video>
      {% endif %}


      <!-- video cover - mobile -->
      {% if tile.image.value.views.mobile.url %}
      <video class="video__cover video__cover--mobile" poster="/assets/images/layout_800x820.png" style="background-image: url('{{ tile.image.value.views.mobile.url }}');" data-src="{{ tile.video.value.url }}" muted loop autoplay playsinline></video>
      {% endif %}
    {% endif %}
    
    {% if tile.video.value.file.url %}
      <!-- video cover - desktop -->
      {% if tile.image.value.views.desktop.url %}
      <video class="video__cover video__cover--desktop" poster="/assets/images/layout_1920x900.png" style="background-image: url('{{ tile.image.value.views.desktop.url }}');" data-src="{{ tile.video.value.file.url }}" muted loop autoplay playsinline></video>
      {% endif %}

      <!-- video cover - mobile -->
      {% if tile.image.value.views.mobile.url %}
      <video class="video__cover video__cover--mobile" poster="/assets/images/layout_800x820.png" style="background-image: url('{{ tile.image.value.views.mobile.url }}');" data-src="{{ tile.video.value.file.url }}" muted loop autoplay playsinline></video>
      {% endif %}
    {% endif %}

    <!-- video cover - overlay -->
    <div class="video__cover video__cover--overlay"></div>

  </div><!-- video end -->

  <!-- content -->
  {% if tile.headline.value %}
  <div class="promo-video__content" data-align="center">

    <h1>{{ tile.headline.value }}</h1>
    
  </div>{% endif %}<!-- content end -->

</div><!-- promo video end -->
