// -------------------------------------
//   Component - News Tile
// -------------------------------------
/**
  * @name news-tile
  * @desc Styles for the news tile component.
**/

$news_tile_w: 56.8%;

%news-tile {
    @extend %flex--row;
    background-color: transparent;
    @include mobile { display: block; }
}

%news-tile__elem {
    @extend %flex--col;
    position: relative;
    flex-shrink: 0;
    flex-grow: 0;

    @include mobile {
        display: block !important;
        max-width: 100% !important;
        width: 100% !important;
    }
}

.news-tile {
    @extend %news-tile;

    &__image, &__content {
        @extend %news-tile__elem
    }
}

// -------------------------------------
//   News Tile - Image
// -------------------------------------
%news-tile__image {
    flex-basis: $news_tile_w;
    max-width: $news_tile_w;
    width: $news_tile_w;
}

.news-tile__image { @extend %news-tile__image; }

// -------------------------------------
//   News Tile - Content
// -------------------------------------
%news-tile__content {
    @include section--padding-h;
    @include section--padding-v("md");

    flex-basis: (100% - $news_tile_w);
    max-width: (100% - $news_tile_w);
    width: (100% - $news_tile_w);
    align-self: center;

    @include tablet-sm-up {
        @include section--padding-h("md");
    }

    h4 {
        margin-bottom: 0;
        font-family: $font_family_medium;
        /* font-weight: $font_weight_medium; */
    }

    a { @extend %ulink; }
    h4 + a { margin-top: 1.25em; }
}

.news-tile__content { @extend %news-tile__content; }

// -------------------------------------
//   News Tile - Modifiers
// -------------------------------------
%news-tile--modifiers {
    // modifiers - align
    &[data-align="left"]  { flex-direction: row-reverse; }
    &[data-align="right"] { flex-direction: row; }

    // modifiers - style
    // ( page, black )
    &[data-style="page"],
    &[data-style="black"] {
        h4 { color: white; }
        a  { @extend %ulink--white; }
    }

    // modifiers - style
    // ( white, yellow )
    &[data-style="white"],
    &[data-style="yellow"] {
        h4 { color: black; }
        a  { @extend %ulink--black; }
    }

    // modifiers - style
    // ( page, black )
    &[data-style="page"]   { background-color: transparent; }
    &[data-style="black"]  { background-color: black; }

    // modifiers - style
    // ( white, yellow )
    &[data-style="white"]  { background-color: white; }
    &[data-style="yellow"] { background-color: $color_yellow_ddb; }
}

.news-tile { @extend %news-tile--modifiers; }
