<!-- footer -->
<footer class="footer">

  <!-- col -->
  <div class="footer__col footer__col--contact">
    <p>Contact</p>

    <ul>
      <li>
        <a href="https://goo.gl/maps/aAmAd4ZJe5Q2" target="_blank" title="3/46-52 Mountain St, Ultimo NSW 2007, Sydney, Australia">
          <span>3/46-52 Mountain St</span><br class="all">
          <span>Ultimo NSW 2007</span><br class="all">
          <span>Sydney, Australia</span><br class="all">
        </a>
        <a href="tel:0282602222" target="_blank" title="(02) 8260 2222">
          <span style="display: none;"></span>
          <span>(02) 8260 2222</span>
        </a>
      </li>
    </ul>
  </div><!-- col end -->

  <!-- col -->
  <div class="footer__col footer__col--social">
    <p>Social</p>

    <ul>
      <li>
        <a href="https://www.instagram.com/ddbsydney/" target="_blank" title="Instagram">
          <span>Instagram</span>
        </a>
      </li>

      <li>
        <a href="https://www.facebook.com/ddbaustralia/" target="_blank" title="Twitter">
          <span>Facebook</span>
        </a>
      </li>

      <li>
        <a href="https://medium.com/ddb-sydney" target="_blank" title="Medium">
          <span>Medium</span>
        </a>
      </li>

      <li>
        <a href="https://www.linkedin.com/company/ddb-sydney" target="_blank" title="LinkedIn">
          <span>LinkedIn</span>
        </a>
      </li>
    </ul>
  </div><!-- col end -->

  <!-- col -->
  <div class="footer__col footer__col--other">
    <p>Other</p>

    <ul>
      <li>
        <a href="/sydney/careers/job-openings/" target="_blank" title="Careers">
          <span>Careers</span>
        </a>
      </li>

      <li>
        <a href="/sydney/news/" target="_blank" title="News">
          <span>News</span>
        </a>
      </li>
    </ul>

    <br class="all"><br class="all">
    <p class="footer__mob-copy footer__smaller-text">&copy;&nbsp;DDB&nbsp;Sydney&nbsp;{{ 'now' | date: "%Y" }}</p>

  </div><!-- col end -->

  <!-- col -->
  <div class="footer__col footer__col--ddb">
    <p class="footer__des-copy">&copy; DDB Sydney {{ 'now' | date: "%Y" }}</p>
  </div><!-- col end -->

</footer><!-- footer end -->
