// -------------------------------------
//   Component - About Tile
// -------------------------------------
/**
  * @name about-tile
  * @desc Styles for the about tile component.
**/
$about_tile_h_min: 56vw;
$about_tile_h_min_mob: 50vh; 

.about-tile {
  @extend %flex--row;
  height: $about_tile_h_min;
  min-height: $base_html_w_min;

  background-color: black;
  @include mobile { height: $about_tile_h_min_mob; }

  .about-tile__content {
    @include section--padding;

    @extend %flex--col;
    align-self: center;
    text-align: center;
    max-width: 100%;

    > h1 {
      @include font--style("lg");
      @include font--highlight;

      display: inline-block;
      text-align: left;
      color: white;
    }
  }
}
