// -------------------------------------
//   Component - Content Tile
// -------------------------------------
/**
  * @name content-tile
  * @desc Styles for the content tile component.
**/

$content_tile_h_min: 66vw;
$content_tile_h_mob_mob: 66vw;

.content-tile {
  @extend %flex--row;
  min-height: $content_tile_h_min;

  .content-tile__content {
    @extend %flex--col;
    align-self: center;
    @include section--padding("lg");

    @include mobile {
      @include section--padding-h;

      &--subline + &--copy {
        @include section--padding-h("md");
      }
    }
    
    *:first-child { margin-top: 0; }
    *:last-child  { margin-bottom: 0; }

    .content-tile__content--copy {
      @include font--style("h3");
    }

    .content-tile__content--headline,
    .content-tile__content--subline,
    .content-tile__content--copy {
      &[data-align="left"]   { text-align: left;   }
      &[data-align="right"]  { text-align: right;  }
      &[data-align="center"] { text-align: center; }

      overflow-wrap: break-word;
      word-wrap: break-word;

      -ms-word-break: break-all;
      word-break: break-word;
    }

    .content-tile__list {
      @extend %flex--row;

      margin: 0;
      padding: 0;
      @include section--padding-h;

      .content-tile__listitem {
        @extend %flex--col;

        margin: 0;
        @include section--margin-top("sm");

        padding: 0;
        @include section--padding-h("sm");

        @include font--style("h5");
        list-style: none;
        text-align: left;
        flex-basis: 50%;
      }

      @include mobile {
        @include section--margin-top("md");
        padding-left: 0; padding-right: 0;

        .content-tile__listitem {
          @include section--padding-h("lg");

          &:not(:first-child) {
            @include section--margin-top("md");
          }

          flex-basis: 100%;
          @include font--style("h4");
        }
      }
    }

    .content-tile__image {
      &.top {
        @include section--margin-bottom("lg");
        margin-top: 0;
      }

      &:not(.top) {
        @include section--margin-top("lg");
        margin-bottom: 0;
      }

      img {
        width: 100%;
        margin: auto;
      }

      .content-tile__image--desktop { display: block; }
      .content-tile__image--mobile  { display: none;  }

      @include mobile {
        text-align: center;

        img {
          max-width: 100%;
          width: auto;
        }
        .content-tile__image--desktop { display: none;  }
        .content-tile__image--mobile  { display: block; }
      }
    }
  }
}
