// -------------------------------------
//   Component - Header
// -------------------------------------
/**
  * @name header
  * @desc Styles for the header component.
**/

// -------------------------------------
//   Header - Sticky & Transition
// -------------------------------------

.section--header {
  position: fixed;
  @include transitions(top, background-color);
  background-color: rgba(0,0,0,0);
  top: 0%;

  &.header-not-at-top {
    // background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.15) 100%);
    background-color: rgba(0,0,0,0.25);

    @include mobile-up {
      .header__nav {
        height: 45px;

        > a.link > span:before {
          bottom: 3px;
        }
      }

      .header__back > a {
        transform: translateY(5%);
      }

      .header__logo {
        margin-top: 0.5em;
      }

      .header {
        @include section--padding-v("sm", 0);
      }
    }

    @include tablet-up {
      .header__nav {
        > a.link > span {
          padding-bottom: 0.2em;
        }

        > a.link > span:before {
          bottom: 0;
        }
      }
    }

    @include mobile {
      .header {
        height: 40px;
        @include section--padding-v("sm", 0);
      }
    }
  }

  // &.header-hidden {
  //   top: -100%;
  //   background-color: rgba(0,0,0,0);
  // }
}

// -------------------------------------
//   Header
// -------------------------------------

.header {
  @extend %flex--row;
  @include section--padding;

  overflow: hidden;
  text-align: center;
  width: 100vw; height: auto;
  min-width: $base_html_w_min;

  @include mobile-up {
    // transition: none !important;
    @include transitions(padding);  // Used by .header-not-at-top
    background-color: transparent;
    @include section--padding-v("sm");
  }

  a   {
    color: white;
    @include font--style("h2");
    @include mobile-up { @include font--style("h6"); }
  }

  a i { @include font--style("h1"); }

  &__back, &__logo,
  &__menu, &__nav {
    @extend %flex--col;
  }

  &__back, &__menu {
    flex: 1; flex-basis: 10%;
    @include mobile { flex: 2; flex-basis: 20%; }
  }

  &__logo, &__nav {
    flex: 8; flex-basis: 80%;
    @include mobile { flex: 6; flex-basis: 60%; }
  }

  &__nav {
    @include mobile { flex: 10; flex-basis: 100%; }
  }

  // modifer - closed
  &--closed {
    @include transitions(padding, height, min-height, background-color);
    transition-timing-function: $ease_in_out_quad;

    background-color: transparent;
    @include mobile { height: 85px; min-height: 0; }
  }

  // modifer - open
  &--open {
    overflow: auto; // to prevent scrolling on the page
    @include transitions(padding, height, min-height, background-color);
    transition-timing-function: $ease_in_out_quad;

    background-color: black;
    @include mobile { height: 100vh; min-height: 100vh; }
  }

  // modifer - basic
  &--basic {
    .header {
      &__nav > .link,
      &__back, &__menu {
        visibility: hidden;
      }
    }
  }
}

// -------------------------------------
//   Header - Back
// -------------------------------------
.header__back {
  text-align: left;

  > a   { display: inline-block; }
  > a i { display: inline-block; }

  > a {
    @include transitions(transform);  // Used by .header-not-at-top

    @include mobile-up {
      transform: translateY(18%);
    }

    @include tablet-up {
      transform: translateY(7%);
    }
  }
}

// -------------------------------------
//   Header - Nav
// -------------------------------------
.header__nav {
  @extend %flex--row;

  @include mobile {
     display: block;

    .header--closed & {
      transform: none;
      display: none;
      opacity: 0;
    }
  }

  @include mobile-up {
    height: 50px;
    transform: none !important;
    @include transitions(height);  // Used by .header-not-at-top
    display: flex !important;
    opacity: 1 !important;
  }

  > a {
    @extend %flex--col;

    &.link {
      align-self: flex-end;
      font-weight: $font_weight_bold;
      /* &--active { pointer-events: none; } */
      & > span {
        @include transitions(padding);  // Used by .header-not-at-top
      }
    }

    @include mobile {
      display: block;
      padding: ($section_padding_mob / 1.5) 0;

      &.link--active {
        font-style: italic;
        padding-bottom: $section_padding_mob;
        span:before { width: 0 !important; }
      }
    }
  }
}

// -------------------------------------
//   Header - Menu
// -------------------------------------
.header__menu {
  text-align: right;
  &--desktop { @include mobile { display: none; }}
  &--mobile  { @include mobile-up { display: none; }}

  > a   { display: inline-block; }
  > a i { display: inline-block; }

  .header--closed & { .icon-close  { display: none; }}
  .header--open &   { .icon-menu   { display: none; }}
}

// -------------------------------------
//   Header - Logo
// -------------------------------------
$header_logo_w: 60px;
$header_logo_h: 22px;

$header_logo_w_mob: 50px;
$header_logo_h_mob: 20px;

.header__logo {
  margin-top: 1em;
  @include mobile { margin-top: 0.35em; }

  @include mobile-up {
    @include transitions(margin);  // Used by .header-not-at-top
  }

  &--desktop {
    @include mobile { display: none !important; }
    height: $header_logo_h;
    width: $header_logo_w;
    align-self: center;
  }

  &--mobile  {
    @include mobile-up { display: none !important; }
    height: $header_logo_h_mob;
    width: $header_logo_w_mob;
    align-self: flex-start;
  }

  > img {
    height: auto;
    width: $header_logo_w;
    @extend %transform-center-h;
    @include tablet { width: $header_logo_w_mob; }
    @include transitions(width, height);  // Used by .header-not-at-top
  }
}
