// -------------------------------------
//   Component - Quote Tile
// -------------------------------------
/**
  * @name quote-tile
  * @desc Styles for the quote tile component.
**/

$quote_margin:  0.25em;
$author_margin: 0.25em;

.quote-tile {
  @extend %flex--row;
  min-height: 70vw;

  .quote-tile__content {
    @extend %flex--col;
    @include section--padding("lg");

    @include mobile {
      @include section--padding-h;
    }

    align-self: center;
    text-align: center;

    .quote-tile__text {
      display: inline-block;
      text-align: left;

      p:first-child { margin-top: 0;    }
      p:last-child  { margin-bottom: 0; }

      .quote-tile__quote  { margin-bottom: $quote_margin; }
      .quote-tile__author { margin-top: $author_margin;   }
    }

    .quote-tile__image {
      &.top {
        @include section--margin-bottom("lg");
        margin-top: 0;
      }
      
      &:not(.top) {
        @include section--margin-top("lg");
        margin-bottom: 0;
      }

      img {
        width: 100%;
        margin: auto;
      }

      .quote-tile__image--desktop { display: block; }
      .quote-tile__image--mobile  { display: none;  }

      @include mobile {
        text-align: center;

        img {
          max-width: 100%;
          width: auto;
        }
        .quote-tile__image--desktop { display: none;  }
        .quote-tile__image--mobile  { display: block; }
      }
    }
  }
}
