// -------------------------------------
//   Component - About: Group Tile
// -------------------------------------
/**
  * @name about-group-tile
  * @desc Styles for the about-group-tile component.
**/

.about-group-tiles {
  @extend %table;

  margin-top: -1px;  // mobile 'line' fix

  color: black;
  background-color: $color_yellow_ddb;

  vertical-align: middle;
  @include section--padding-h("lg");
  @include section--padding-top("lg", 0);
  @include section--padding-bottom("lg");

  @include mobile {
    @include section--padding-h;
    @include section--padding-top("lg", 0);
    @include section--padding-bottom("lg");
  }

  .group-diagram-container {
    @extend %flex--row;
    max-width: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;

    .group-diagram-tile {
      @extend %flex--col;
      flex-basis: 20%;
      width: 20%;
      max-width: 20%;
      flex-grow: 1;
      align-self: flex-start;

      .group-diagram-tile-content {
        padding-top: 40px;
        padding-bottom: 40px;
        text-align: center;

        img {
          width: auto;
          max-width: 100%;
          margin: 0 auto;
        }

        p {
          color: inherit;
          @include font--style("h4");
          font-weight: $font_weight_medium;
          margin-top: 20px;
        }
      }

      @include tablet-sm-up {
        &:not(:only-child) {
          .group-diagram-tile-content {
            .group-diagram-tile-content__image-container {
              position: relative;
              padding-bottom: 48%;  // tallest image is 300:142
              height: 0;

              .group-diagram-tile-content__image {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
              }
            }

            p {
              @include font--style("h5");
            }
          }
        }
      }

      @include tablet-sm {
        flex-basis: 50%;
        width: 50%;
        max-width: 50%;
      }

      @include mobile {
        flex-basis: 50%;
        width: 50%;
        max-width: 50%;

        &:nth-child(odd):not(:only-child):not(:last-child) {
          .group-diagram-tile-content {
            padding-left: 40px;
            padding-right: 20px;
          }
        }

        &:nth-child(even):not(:only-child) {
          .group-diagram-tile-content {
            padding-left: 20px;
            padding-right: 40px;
          }
        }
      }

      @include mobile-sm {
        flex-basis: 100%;
        width: 100%;
        max-width: 100%;

        &:only-child {
          .group-diagram-tile-content {
            padding-left: 0;
          }
        }

        &:not(:only-child):nth-child(odd):not(:last-child),
        &:not(:only-child):nth-child(even) {
          .group-diagram-tile-content {
            padding-left: 0;
            padding-right: 0;
            padding-top: 40px;
            padding-bottom: 40px;
          }
        }

        &:not(:only-child):nth-child(odd):last-child {
          padding-bottom: 0;
        }
      }
    }
  }

  .group-diagram-lineart {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    width: 80%;
    @include tablet-sm { width: 50%; }
    @include mobile    { width: 50%; }
    @include mobile-sm { width: 80%; }

    // $about_group_tile_line_colour: #414142;  // sketch colour
    $about_group_tile_borders: 1px solid #a08304;

    .middle-col {
      height: 20px;
      width: 25%;
      @include tablet-sm { width: 50%; }
    }

    .top-row {
      .middle-col {
        border-bottom: $about_group_tile_borders;
      }

      .middle-col:nth-child(2) {
        border-right: $about_group_tile_borders;
      }

      .middle-col:nth-child(3) {
        border-left: $about_group_tile_borders;
      }
    }

    .bottom-row {
      .middle-col {
        border-right: $about_group_tile_borders;
        border-left: $about_group_tile_borders;
        border-top: $about_group_tile_borders;
      }
    }

    @include tablet-sm {
      .top-row {
        .middle-col:not(:first-child):not(:last-child) {
          display: none;
        };

        .middle-col:first-child {
          border-left: none;
          border-right: $about_group_tile_borders;
        };

        .middle-col:last-child {
          border-right: none;
          border-left: $about_group_tile_borders;
        };
      }

      .bottom-row {
        .middle-col:not(:first-child):not(:last-child) {
          display: none;
        };

        .middle-col:first-child {
          border-right: none;
          border-left: $about_group_tile_borders;
        };

        .middle-col:last-child {
          border-left: none;
          border-right: $about_group_tile_borders;
        };
      }
    }
  }
}
