// -------------------------------------
//   Component - About: Behaviour Tile
// -------------------------------------
/**
  * @name about-behaviour-tile
  * @desc Styles for the about tile component.
**/

$about_tile_h_min: 66vw;
$about_tile_h_min_mob: 66vw;

.about-behaviour-tile {
  @extend %flex--row;
  min-height: $about_tile_h_min;

  @include mobile {
    display: block;
    min-height: $about_tile_h_min_mob;
  }

  &[data-style="white"]  { color: black; background-color: white; }
  &[data-style="yellow"] { color: black; background-color: $color_yellow_ddb; }
  &[data-style="grey"]   { color: white; background-color: #404041; }
}

.about-behaviour-tile__image {
  @extend %flex--col;
  flex-shrink: 1;
  flex-grow: 1;
  align-self: end;
  -ms-flex-negative: 1;
  -ms-flex-positive: 1;

  @include section--padding-top("lg");

  .image__cover {
    background-size: contain;
    background-position: bottom;
  }

  @include mobile-up {
    .image__cover {
      position: static;
    }
  }

  @include mobile {
    display: block;
    width: 100%;
    min-height: 55vw;
    padding: 0;
  }
}

.about-behaviour-tile__content {
  @extend %flex--col;

  .about-behaviour-tile__content__inner {
    @include section--padding("lg");
    @include section--padding-right("lg", 0);
  }

  position: relative;
  align-self: start;
  max-width: 40%;
  width: 40%;
  flex-basis: 40%;

  @include tablet-sm {
    display: block;
    max-width: 50%;
    width: 50%;
    flex-basis: 50%;
  }

  @include mobile {
    display: block;
    max-width: 100%;
    width: 100%;
    flex-basis: 100%;

    .about-behaviour-tile__content__inner {
      @include section--padding;
      @include section--padding-v("md");
    }
  }

  h6 {
    color: inherit;
    margin: 0;
  }

  p {
    color: inherit;
    @include font--style("h4");
    margin-top: 0.5em;
  }

  [data-align="left"] & { order: -1; }
  [data-style="yellow"] & { a { @extend %ulink--black; } }
}
