// -------------------------------------
//   Component - About Behaviour Tile
// -------------------------------------
/**
  * @name about-behaviour-tile
  * @desc Styles for the about tile component.
**/

$about_tile_h_min: 66vw;
$about_tile_h_min_mob: 66vw;

.about-behaviour-tile {
    display: block;
    position: relative;
    min-height: $about_tile_h_min;
    @include mobile { min-height: $about_tile_h_min_mob; }
}

// -------------------------------------
//   About Behaviour Tile - Image
// -------------------------------------
.about-behaviour-tile__image {
    position: relative;
    z-index: 0;
    bottom: 0;
    right: 0;

    display: block;
    height: 100%;
    width: 100%;

    max-width: 100%;
    min-height: ($about_tile_h_min_mob / 1.15);

    @include mobile-up {
        position: absolute;

        max-width: 60%;
        min-height: ($about_tile_h_min / 1.15);
    }

    .image__cover {
        right: 0;
        left: auto;
        background-size: contain;
        background-position: right bottom;
    }
}

// -------------------------------------
//   About Behaviour Tile - Content
// -------------------------------------
.about-behaviour-tile__content {
    position: relative;
    z-index: 1;

    display: block;
    height: 100%;
    width: 100%;

    max-width: 100%;
    min-height: $about_tile_h_min_mob;

    @include mobile-up {
        max-width: 65%;
        min-height: $about_tile_h_min;
    }

    @include tablet-up {
        max-width: 50%;
    }

    &__inner {
        @include section--padding;
        @include section--padding-v("md");
        @include mobile-up { @include section--padding("lg"); }
    }

    h6, p { display: block; width: 100%; }
    p { @include font--style("h4"); }
}

// -------------------------------------
//   About Behaviour Tile - Modifiers
// -------------------------------------
.about-behaviour-tile {
    // modifer - style
    // (page, grey)
    &[data-style="page"],
    &[data-style="grey"] {
        h6, p { color: white; }
        a { @extend %ulink--white; }
    }

    // modifer - style
    // (white, yellow)
    &[data-style="white"],
    &[data-style="yellow"] {
        h6, p { color: black; }
        .button { @extend %ulink--black; }
    }

    // modifiers - style
    // ( page, grey )
    &[data-style="page"]  { background-color: transparent; }
    &[data-style="grey"]  { background-color: rgb(64, 64, 66); }
    // the grey is set here to have a custom color background color
    // because they've included jpg's with a solid background color

    // modifiers - style
    // ( white, yellow )
    &[data-style="white"]  { background-color: white; }
    &[data-style="yellow"] { background-color: $color_yellow_ddb; }
}

