// -------------------------------------
//   Component - About Tile
// -------------------------------------
/**
  * @name about-tile
  * @desc Styles for the about tile component.
**/

.about-tile {
  @extend %flex--row;
  @include mobile { display: block; }

  color: white;
  background-color: black;
  &[data-style="grey"]   { color: white; background-color: $color_grey_night; }
  &[data-style="yellow"] { color: black; background-color: $color_yellow_ddb; }
}

// -------------------------------------
//   About Tile - Image
// -------------------------------------
.about-tile__image {
  @extend %flex--col;
  @include section--padding("md");
  @include section--padding-right("lg", 1.5);
  @include mobile { display: block; padding: 0; }
}

.about-tile__content {
  @extend %flex--col;
  @include section--padding("md");

  order: 1;
  position: relative;
  align-self: center;

  color: inherit;
  background-color: inherit;
  @include mobile { display: block; @include section--padding-h; }

  &__inner {
    @include section--padding-right;
    @include tablet-sm { padding-right: 0; }
    @include mobile    { @include section--padding-right; }
  }

  h6, p { color: inherit; }
  p, a  { @include font--style("h6"); }
  h6    { margin: 0; font-weight: $font_weight_bold; }

  a {
    margin-top: 1em;
    &:first-child { margin-top: 0; }
    &:last-child  { margin-bottom: 0; }
  }


  h6 + a,
  p + a { margin-top: 0; }
  a + a { margin: 0.75em 75% 0 0; }

  h6, p, a {
    + h6 {
      @include section--margin-top;
      @include mobile { @include section--margin-top("md"); }
    }
  }

  [data-align="left"] & { order: -1; }
  [data-style="yellow"] & { a { @extend %ulink--black; } }
}
