{% assign tiles = include.data %}

<!-- about-group tiles -->
<div id="group" class="about-group-tiles" data-style="{{ tile.style.value | default: 'white' }}">

  {% for tile in tiles %}

    {% capture groupTile %}
      <div class="group-diagram-tile">
        <div class="group-diagram-tile-content">
          <div class="group-diagram-tile-content__image-container">
            {% if tile.image.value %}
            <div class="group-diagram-tile-content__image">
              <img src="{{ tile.image.value.main.url }}" />
            </div>
            {% endif %}
          </div>

          {% if tile.copy.value %}
          <p>{{ tile.copy.value }}</p>
          {% endif %}
        </div>
      </div>
    {% endcapture %}

    {% if forloop.first == true %}
      <div class="group-diagram-container">
        {{ groupTile }}
      </div>

      <table class="group-diagram-lineart">
        <tr class="top-row">
          {% for bit in tiles %}
            {% if forloop.first == false and forloop.last == false %}
              <td class="middle-col"></td>
            {% endif %}
          {% endfor %}
        </tr>
        <tr class="bottom-row">
          {% for bit in tiles %}
            {% if forloop.first == false and forloop.last == false %}
              <td class="middle-col"></td>
            {% endif %}
          {% endfor %}
        </tr>
      </table>

      <div class="group-diagram-container">
    {% else %}
        {{ groupTile }}
      {% if forloop.last == true %}
      </div>
      {% endif %}
    {% endif %}

  {% endfor %}

</div><!-- about-group tiles end -->
