{% assign tile = include.data[0] %}

<!-- about tile -->
<div class="about-tile" data-align="{{ tile.align.value | default: 'right' }}" data-style="{{ tile.style.value | default: 'black' }}">

  <!-- image -->
  <div class="image about-tile__image">

    <!-- image layout - desktop -->
    <img class="image__layout image__layout--desktop" src="{{base}}/assets/images/layout_960x825.png" alt="">

    <!-- image layout - mobile -->
    <img class="image__layout image__layout--mobile" src="{{base}}/assets/images/layout_800x820.png" alt="">

    <!-- image cover - desktop -->
    {% if tile.image.value.views.desktop.url %}
    <div class="image__cover image__cover--desktop" style="background-image: url('{{ tile.image.value.views.desktop.url }}');"></div>
    {% endif %}

    <!-- image cover - mobile -->
    {% if tile.image.value.views.mobile.url %}
    <div class="image__cover image__cover--mobile" style="background-image: url('{{ tile.image.value.views.mobile.url }}');"></div>
    {% endif %}

  </div><!-- image end -->

  <!-- content -->
  <div class="about-tile__content">
    <div class="about-tile__content__inner"><!-- content inner -->

      {% if tile.headline.value %}
      <h6>{{ tile.headline.value }}</h6>
      {% endif %}

      {% if tile.copy.value %}
      <p>{{ tile.copy.value }}</p>
      {% endif %}

      {% if (tile.linkUrl.value.url || tile.linkText.value ) %}
      <a class="ulink" href="{{ tile.linkUrl.value.url | normalize_whitespace }}" target="_blank" title="{{ tile.linkText.value | normalize_whitespace }}"><span> {{ tile.linkText.value }} </span></a>
      {% endif %}

    </div><!-- content inner end -->
  </div><!-- content end -->

</div><!-- about tile end -->
